# Put Open AI Key here or setup via TF_VAR_openai_api_key
openai_api_key = "sk-YOUR KEY goes here"

# Change this to your GCP Project
gcp-project          = "gcp-project-id"

# Your login ID for tagging resources
owner       = "user-id"

# Your Email for tagging resources
owner-email = "user-id@yugabyte.com"

# Expiry date - tagging only
expiry      = "2024-12-31_00-00-00_0000"

# Only test with these values, you can try with others
gcp-regions = {
  "asia-southeast1" = "Singapore"
  "asia-south1"     = "Mumbai"
  "asia-northeast1" = "Tokyo"
}

# In case you fork the repo and want to deploy your own code, change this
github-repo          = "yogendra/YugaPlus"
git-branch           = "apj-sb"

# Prefix for resoruces
prefix               = "yplust"

# Demo script URL - in ase you make changes to the demo script, you should change this to point to your own repo
demo-script-url      = "https://raw.githubusercontent.com/yogendra/YugaPlus/apj-sb/deployment/demo"

# If you use any other subcommand for demo script to do initial setup, change this
# demo-script-boot-command = "boot"

# Application Name
# app-name             = "YugabyteDB Samples - YugaPlus"

# Machine name for app for directory, dns etc.
# app-machine-name     = "YugaPlus"

# For Tagging
# dept                 = "sales"
# task                 = "webinar"

# Change this to work with another version
# yb-release           = "2.20.3.0-b68"

# Not test with aarch64
# yb-arch              = "x86_64"

# Put any external IP you want to allow access from. You IP will be added automatically
# allowed-web-client   = []
# allowed-admin-client = []

# GCP Image info - Use ubuntu,
# gcp-image-family     = "ubuntu-2004-lts"
# gcp-image-project    = "ubuntu-os-cloud"

# VM infra details
# gcp-machine-type     = "c2-standard-16"
# gcp-disk-type        = "pd-ssd"
# gcp-disk-size        = "50"

# Network CIDRs
# gcp-cidr             = "10.99.0.0/16"

# If you have a DNS zone to work with, provider here
# gcp-dns-zone         = "my-dns-hosted-zone"
